## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
for row in application_df.columns:
    print(row, len(application_df[row].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
v_counts = application_df["APPLICATION_TYPE"].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(v_counts[v_counts<10].index)

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
bin_classifier = application_df["CLASSIFICATION"].value_counts()
bin_classifier

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin_classification = bin_classifier[bin_classifier>1]
bin_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(bin_classifier[bin_classifier<50].index)
classifications_to_replace

['C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_layer_nodes1 = 10
hidden_layer_nodes2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_nodes1, input_dim=input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_nodes2, input_dim=input_features, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 10)                580
_________________________________________________________________
dense_7 (Dense)              (None, 20)                220
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 21
=================================================================
Total params: 821
Trainable params: 821
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [29]:
#add callbacks that saves the model weight
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("callbacks_saved/", exist_ok=True)
checkpoint_path="callbacks_saved/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
mc = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq="epoch",
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [30]:
# Train the model
model_fit = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[mc])

Epoch 1/100
804/804 [==============================] - 1s 926us/step - loss: 0.5375 - accuracy: 0.7375
Epoch 2/100
804/804 [==============================] - 1s 963us/step - loss: 0.5374 - accuracy: 0.7389
Epoch 3/100
804/804 [==============================] - 1s 941us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 4/100
804/804 [==============================] - 1s 945us/step - loss: 0.5377 - accuracy: 0.7382
Epoch 5/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5372 - accuracy: 0.7390
Epoch 00005: saving model to callbacks_saved\weights.5.hdf5
804/804 [==============================] - 1s 937us/step - loss: 0.5372 - accuracy: 0.7389
Epoch 6/100
804/804 [==============================] - 1s 918us/step - loss: 0.5376 - accuracy: 0.7381
Epoch 7/100
804/804 [==============================] - 1s 924us/step - loss: 0.5376 - accuracy: 0.7384
Epoch 8/100
804/804 [==============================] - 1s 939us/step - loss: 0.5373 - accuracy: 0.7383
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 10/100
791/804 [============================>.] - ETA: 0s - loss: 0.5369 - accuracy: 0.7378
Epoch 00010: saving model to callbacks_saved\weights.10.hdf5
804/804 [==============================] - 1s 966us/step - loss: 0.5371 - accuracy: 0.7376
Epoch 11/100
804/804 [==============================] - 1s 955us/step - loss: 0.5373 - accuracy: 0.7371
Epoch 12/100
804/804 [==============================] - 1s 936us/step - loss: 0.5371 - accuracy: 0.7376
Epoch 13/100
804/804 [==============================] - 1s 919us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 14/100
804/804 [==============================] - 1s 906us/step - loss: 0.5371 - accuracy: 0.7383
Epoch 15/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5362 - accuracy: 0.7388
Epoch 00015: saving model to callbacks_saved\weights.15.hdf5
804/804 [==============================] - 1s 942us/step - loss: 0.5372 - accuracy: 0.7384
Epoch 16/100
804/804 [==============================] - 1s 956us/step - loss: 0.5373 - accuracy: 0.7391
Epoch 17/100
804/804 [==============================] - 1s 947us/step - loss: 0.5371 - accuracy: 0.7383
Epoch 18/100
804/804 [==============================] - 1s 967us/step - loss: 0.5370 - accuracy: 0.7385
Epoch 19/100
804/804 [==============================] - 1s 923us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 20/100
797/804 [============================>.] - ETA: 0s - loss: 0.5371 - accuracy: 0.7393
Epoch 00020: saving model to callbacks_saved\weights.20.hdf5
804/804 [==============================] - 1s 961us/step - loss: 0.5372 - accuracy: 0.7389
Epoch 21/100
804/804 [==============================] - 1s 913us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 22/100
804/804 [==============================] - 1s 980us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 23/100
804/804 [==============================] - 1s 964us/step - loss: 0.5367 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 1s 999us/step - loss: 0.5371 - accuracy: 0.7387
Epoch 25/100
796/804 [============================>.] - ETA: 0s - loss: 0.5368 - accuracy: 0.7383
Epoch 00025: saving model to callbacks_saved\weights.25.hdf5
804/804 [==============================] - 1s 956us/step - loss: 0.5370 - accuracy: 0.7382
Epoch 26/100
804/804 [==============================] - 1s 948us/step - loss: 0.5367 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 935us/step - loss: 0.5369 - accuracy: 0.7386
Epoch 28/100
804/804 [==============================] - 1s 929us/step - loss: 0.5366 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 1s 930us/step - loss: 0.5369 - accuracy: 0.7385
Epoch 30/100
801/804 [============================>.] - ETA: 0s - loss: 0.5371 - accuracy: 0.7379
Epoch 00030: saving model to callbacks_saved\weights.30.hdf5
804/804 [==============================] - 1s 952us/step - loss: 0.5371 - accuracy: 0.7380
Epoch 31/100
804/804 [==============================] - 1s 948us/step - loss: 0.5368 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 1s 922us/step - loss: 0.5371 - accuracy: 0.7391
Epoch 33/100
804/804 [==============================] - 1s 951us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 1s 942us/step - loss: 0.5367 - accuracy: 0.7384
Epoch 35/100
798/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7386
Epoch 00035: saving model to callbacks_saved\weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 36/100
804/804 [==============================] - 1s 952us/step - loss: 0.5370 - accuracy: 0.7382
Epoch 37/100
804/804 [==============================] - 1s 940us/step - loss: 0.5368 - accuracy: 0.7384
Epoch 38/100
804/804 [==============================] - 1s 933us/step - loss: 0.5367 - accuracy: 0.7378
Epoch 39/100
804/804 [==============================] - 1s 938us/step - loss: 0.5364 - accuracy: 0.7388
Epoch 40/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5357 - accuracy: 0.7396
Epoch 00040: saving model to callbacks_saved\weights.40.hdf5
804/804 [==============================] - 1s 948us/step - loss: 0.5365 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 1s 954us/step - loss: 0.5365 - accuracy: 0.7377
Epoch 42/100
804/804 [==============================] - 1s 927us/step - loss: 0.5370 - accuracy: 0.7379
Epoch 43/100
804/804 [==============================] - 1s 966us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 44/100
804/804 [==============================] - 1s 954us/step - loss: 0.5365 - accuracy: 0.7398
Epoch 45/100
793/804 [============================>.] - ETA: 0s - loss: 0.5369 - accuracy: 0.7393
Epoch 00045: saving model to callbacks_saved\weights.45.hdf5
804/804 [==============================] - 1s 962us/step - loss: 0.5368 - accuracy: 0.7393
Epoch 46/100
804/804 [==============================] - 1s 949us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 1s 947us/step - loss: 0.5365 - accuracy: 0.7387
Epoch 48/100
804/804 [==============================] - 1s 928us/step - loss: 0.5365 - accuracy: 0.7386
Epoch 49/100
804/804 [==============================] - 1s 932us/step - loss: 0.5364 - accuracy: 0.7389
Epoch 50/100
789/804 [============================>.] - ETA: 0s - loss: 0.5373 - accuracy: 0.7381
Epoch 00050: saving model to callbacks_saved\weights.50.hdf5
804/804 [==============================] - 1s 897us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 1s 757us/step - loss: 0.5362 - accuracy: 0.7382
Epoch 52/100
804/804 [==============================] - 1s 771us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 53/100
804/804 [==============================] - 1s 749us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 54/100
804/804 [==============================] - 1s 757us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 55/100
790/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7382
Epoch 00055: saving model to callbacks_saved\weights.55.hdf5
804/804 [==============================] - 1s 774us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 56/100
804/804 [==============================] - 1s 751us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 1s 771us/step - loss: 0.5361 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 1s 768us/step - loss: 0.5362 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 1s 784us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 60/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5349 - accuracy: 0.7408
Epoch 00060: saving model to callbacks_saved\weights.60.hdf5
804/804 [==============================] - 1s 794us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 61/100
804/804 [==============================] - 1s 830us/step - loss: 0.5361 - accuracy: 0.7391
Epoch 62/100
804/804 [==============================] - 1s 958us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 63/100

804/804 [==============================] - 1s 941us/step - loss: 0.5361 - accuracy: 0.7398
Epoch 64/100
804/804 [==============================] - 1s 945us/step - loss: 0.5366 - accuracy: 0.7384
Epoch 65/100
772/804 [===========================>..] - ETA: 0s - loss: 0.5355 - accuracy: 0.7395
Epoch 00065: saving model to callbacks_saved\weights.65.hdf5
804/804 [==============================] - 1s 986us/step - loss: 0.5360 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 1s 931us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 1s 918us/step - loss: 0.5361 - accuracy: 0.7386
Epoch 68/100
804/804 [==============================] - 1s 934us/step - loss: 0.5361 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 1s 945us/step - loss: 0.5360 - accuracy: 0.7392
Epoch 70/100
787/804 [============================>.] - ETA: 0s - loss: 0.5355 - accuracy: 0.7391
Epoch 00070: saving model to callbacks_saved\weights.70.hdf5
804/804 [==============================] - 1s 970us/step - loss: 0.5362 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 1s 936us/step - loss: 0.5357 - accuracy: 0.7390
Epoch 72/100
804/804 [==============================] - 1s 956us/step - loss: 0.5361 - accuracy: 0.7396
Epoch 73/100
804/804 [==============================] - 1s 923us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 1s 941us/step - loss: 0.5359 - accuracy: 0.7389
Epoch 75/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5367 - accuracy: 0.7387
Epoch 00075: saving model to callbacks_saved\weights.75.hdf5
804/804 [==============================] - 1s 997us/step - loss: 0.5360 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 1s 947us/step - loss: 0.5358 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 1s 950us/step - loss: 0.5360 - accuracy: 0.7379
Epoch 78/100
804/804 [==============================] - 1s 942us/step - loss: 0.5360 - accuracy: 0.7389
Epoch 79/100
804/804 [==============================] - 1s 949us/step - loss: 0.5362 - accuracy: 0.7392
Epoch 80/100
796/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7386
Epoch 00080: saving model to callbacks_saved\weights.80.hdf5
804/804 [==============================] - 1s 958us/step - loss: 0.5357 - accuracy: 0.7388
Epoch 81/100
804/804 [==============================] - 1s 940us/step - loss: 0.5363 - accuracy: 0.7396
Epoch 82/100
804/804 [==============================] - 1s 933us/step - loss: 0.5363 - accuracy: 0.7384
Epoch 83/100
804/804 [==============================] - 1s 960us/step - loss: 0.5359 - accuracy: 0.7389
Epoch 84/100
804/804 [==============================] - 1s 931us/step - loss: 0.5356 - accuracy: 0.7386
Epoch 85/100
800/804 [============================>.] - ETA: 0s - loss: 0.5358 - accuracy: 0.7391
Epoch 00085: saving model to callbacks_saved\weights.85.hdf5
804/804 [==============================] - 1s 958us/step - loss: 0.5358 - accuracy: 0.7390
Epoch 86/100
804/804 [==============================] - 1s 948us/step - loss: 0.5358 - accuracy: 0.7386
Epoch 87/100
804/804 [==============================] - 1s 962us/step - loss: 0.5355 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 1s 977us/step - loss: 0.5359 - accuracy: 0.7385
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 90/100
786/804 [============================>.] - ETA: 0s - loss: 0.5364 - accuracy: 0.7378
Epoch 00090: saving model to callbacks_saved\weights.90.hdf5
804/804 [==============================] - 1s 978us/step - loss: 0.5359 - accuracy: 0.7384
Epoch 91/100
804/804 [==============================] - 1s 978us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 92/100
804/804 [==============================] - 1s 939us/step - loss: 0.5357 - accuracy: 0.7387
Epoch 93/100
804/804 [==============================] - 1s 960us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 94/100
804/804 [==============================] - 1s 937us/step - loss: 0.5355 - accuracy: 0.7393
Epoch 95/100
791/804 [============================>.] - ETA: 0s - loss: 0.5347 - accuracy: 0.7402
Epoch 00095: saving model to callbacks_saved\weights.95.hdf5
804/804 [==============================] - 1s 969us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 96/100
804/804 [==============================] - 1s 943us/step - loss: 0.5357 - accuracy: 0.7378
Epoch 97/100
804/804 [==============================] - 1s 946us/step - loss: 0.5356 - accuracy: 0.7396
Epoch 98/100
804/804 [==============================] - 1s 954us/step - loss: 0.5360 - accuracy: 0.7388
Epoch 99/100
804/804 [==============================] - 1s 982us/step - loss: 0.5359 - accuracy: 0.7385
Epoch 100/100
801/804 [============================>.] - ETA: 0s - loss: 0.5354 - accuracy: 0.7391
Epoch 00100: saving model to callbacks_saved\weights.100.hdf5
804/804 [==============================] - 1s 952us/step - loss: 0.5356 - accuracy: 0.7389

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5506 - accuracy: 0.7340
Loss: 0.550605297088623, Accuracy: 0.73399418592453

In [35]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")